.main {
  display: flex;
  flex-direction: column;
  width: 450px;

  .title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .buttons {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin-top: 40px;
  }

  .formLabel {
    font-size: var(--chakra-fontSizes-sm);
    font-weight: var(--chakra-fontWeights-normal);
    margin: 10px 0 2px 0;
    color: #777;
  }
}
