@import '/styles/SharedStyles.module.scss';
@import 'styles/_mixins.scss';

.main {
  @include lightShadow();
  background-color: white;

  border-radius: 20px;
  width: 100%;
  padding: 0 60px 20px 60px;
  overflow-x: auto;

  :global(body.chakra-ui-dark) & {
    @include darkShadow();
    background-color: #151515;
  }

  .leftSpace {
    width: auto;

    @media (min-width: 850px) {
      width: 80px;
    }
  }

  .collectionRow {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .addressRow {
    display: flex;
    gap: 5px;
    align-items: center;
    letter-spacing: 0.1rem;
    font-family: monospace;
    justify-content: center;
    font-size: 1rem;

    .linkIcon {
      cursor: pointer;
    }
  }
}
