@import '/styles/SharedStyles.module.scss';

.card {
  @extend .boxShadow;
  background-color: white;
  padding-bottom: 4px;

  :global(body.chakra-ui-dark) & {
    background-color: #151515;
  }

  .fatCard {
    padding: 20px 0 30px 0;
  }

  .message {
    margin-top: 8px;
    font-size: 0.68rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
  }

  .title {
    display: flex;
    align-items: center;
    padding: 18px 25px;
    text-transform: uppercase;
    font-size: 0.9em;
    background-color: #f5f5f5;
    font-weight: bold;
    // color: #777;
    color: var(--chakra-colors-brandBlue, red);

    :global(body.chakra-ui-dark) & {
      background-color: #222;
    }

    .icon {
      color: var(--chakra-colors-brandBlue, red);
      margin-right: 12px;
    }
  }

  .progress {
    margin: 5px 25px;
    border-radius: 10px;
    height: 0.6rem;
  }

  .percentage {
    margin: 6px 30px;
    font-size: 0.8rem;
    color: #555;
  }
}

.topBorder {
  border-top: 1px solid #ddd;

  :global(body.chakra-ui-dark) & {
    border-top: 1px solid #333;
  }
}

.infoRow {
  position: relative;
  display: flex;
  align-items: center;

  .left {
    text-transform: uppercase;
    padding: 8px 0px 8px 30px;
    font-size: 0.68rem;
    flex: 0 1 auto;
    letter-spacing: 0.02rem;
  }

  .right {
    flex: 1 1 auto;
    padding: 8px 30px 8px 0px;
    text-align: right;
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;

    :global(body.chakra-ui-dark) & {
      color: #eee;
    }
  }

  .subtitle {
    position: absolute;
    bottom: -10px;
    right: 30px;
    text-transform: uppercase;
    display: flex;
    font-size: 0.68rem;
    letter-spacing: 0.02rem;
  }
}

.countdown {
  padding: 12px 0px 0 30px;
}
