@import '/styles/SharedStyles.module.scss';
@import 'styles/_mixins.scss';

.main {
  width: 100%;
}

@include cardList();

.spinner {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  flex-direction: center;
}

$innerHeight: 440px;
$outerHeight: 445px;

.card {
  padding-bottom: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: $innerHeight;
  cursor: pointer;
  overflow: hidden;

  background-color: var(--chakra-colors-cardBgLight, red);

  :global(body.chakra-ui-dark) & {
    background-color: var(--chakra-colors-cardBgDark, red);
  }

  &:hover {
    .cardControls {
      visibility: visible;
      opacity: 1;
    }
  }

  .top {
    flex: 5;
    overflow: hidden;
    position: relative;

    img {
      min-width: 100%;
      min-height: 100%;
      overflow: hidden;
      transition: transform 1s;
      object-fit: cover;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  .stadiumButtonBlue {
    background-color: var(--chakra-colors-brandBlue, red);
    color: white;
    border-radius: 100px;
    min-width: 160px;
    &:hover {
      background-color: blue;
      color: white;
    }
  }

  .bottom {
    padding: 16px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    gap: 6px;
    line-height: 1.2;
    text-align: center;

    .collectionRow {
      display: flex;
      align-items: center;
    }
  }
}

.outOfViewCard {
  height: $outerHeight;
}

.featuredCard {
  background-image: linear-gradient(140deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(45, 185, 255, 0.2) 75%);
}
