.container {
  display: flex;
  position: relative;

  & > div {
    flex: 1;
    position: relative;
  }
  & > div > input {
    border: 1px solid #ccc;
    border-radius: 24px;
    padding: 6px 10px;
    width: 100%;
  }

  .clearButton {
    position: absolute;
    color: #aaa;
    right: 12px;
    height: 100%;
  }
}

.dropPanel {
  position: absolute;
  margin-top: 3px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  list-style: none;
  width: 100%;

  li {
    padding: 10px;
    cursor: pointer;
  }
  li[aria-selected='true'] {
    background-color: blue;
    color: #eee;
  }
}

.bold {
  font-weight: bold;
}

.dropPanelOpened {
  border: 1px solid #ccc;
}
