.main {
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: monospace;

  .digit {
    display: flex;
    margin-right: 8px;
    align-items: flex-end;
    line-height: 1;

    .unit {
      margin-left: 1px;
      font-size: 0.8em;

      color: rgba(0, 0, 0, 0.5);
    }
  }
}
