.traitItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 176px;
  background-color: #fff;
  border: 1px solid var(--chakra-colors-borderLight);
  border-radius: var(--border-radius-big);
  margin-top: 16px;
  margin-right: 8px;
  text-align: center;
  font-family: 'F37 Bolton Trial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding: 20px;
  color: #666666;

  .traitValue {
    margin-top: 1px;
    font-family: 'F37 Zagma Mono Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;

    color: #000000;
  }
}

.badge {
  font-family: 'F37 Zagma Mono Trial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* identical to box height, or 17px */
  padding-top: 4px;
  margin-top: 14px;
  letter-spacing: -0.04em;

  color: #666666;
  width: 128px;
  height: 24px;

  background: #f0f0f0;
  border-radius: 30px;
}
