.container {
  display: flex;
  position: relative;
  width: 260px;

  & > div {
    flex: 1;
    position: relative;
  }
  & > div > input {
    border: 1px solid #ccc;
    width: 100%;
  }

  .clearButton {
    position: absolute;
    color: #aaa;
    right: 12px;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
  }
}

.dropPanel {
  position: absolute;
  margin-top: 3px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  list-style: none;
  width: 100%;
  z-index: 1;

  li {
    padding: 10px;
    cursor: pointer;
    color: var(--text-primary);
  }
  li[aria-selected='true'] {
    background-color: var(--chakra-colors-brandColor, red);
    color: #eee;
  }
}

.bold {
  font-weight: bold;
}

.dropPanelOpened {
  border: 1px solid #ccc;
  max-height: 30vh;
  overflow-y: auto;
}

.resultRow {
  padding: 5px 0px;
}

.checkBox input[type='checkbox'] {
  min-width: 16px;
  min-height: 16px;
  margin-right: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid var(--chakra-colors-brandColor);
  border-radius: var(--chakra-radii-sm);
  box-shadow: none;
}

.checkBox input[type='checkbox']:before {
  content: '';
  display: block;
}

.checkBox input[type='checkbox']:checked:before {
  width: 4px;
  height: 9px;
  margin: 2px auto;
  border-bottom: 2px solid var(--chakra-colors-brandColor);
  border-right: 2px solid var(--chakra-colors-brandColor);
  transform: rotate(45deg);
}

.checkBox input[type='checkbox']:checked:after {
  color: var(--chakra-colors-brandColor);
}

.checkBox {
  cursor: pointer;
}
