.traitValuesBox {
  max-height: 200px;
  overflow-y: scroll;

  .traitValue > label {
    display: flex;
    align-items: center;
  }
}

.search {
  div {
    height: 100%;
  }
  input {
    margin: 2px;
  }
}
