@import '/styles/SharedStyles.module.scss';

.main {
  width: 100%;
  padding-bottom: 20px;
  overflow-x: auto;

  .addressRow {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1rem;

    .address {
      width: 25ch;
    }

    .copyIcon {
      cursor: pointer;
    }

    .linkIcon {
      cursor: pointer;
    }
  }
}
