.heading {
  font-family: 'F37 Bolton Trial';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */
  letter-spacing: 0.01em;
  color: #000000;
}

.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;

  .nftContent {
    display: flex;
    gap: 40px;

    .left {
      flex: 1;

      .imageFrame {
        border-radius: 16px;
        overflow: hidden;

        background-color: white; // var(--chakra-colors-cardBgLight, red);
        border: solid 1px #ddd;

        :global(body.chakra-ui-dark) & {
          background-color: var(--chakra-colors-cardBgDark, red);
          border: solid 1px #333;
        }

        .imgFooter {
          padding: 16px;
          display: flex;
          align-items: center;

          .infoColumn {
            display: flex;
            flex-direction: column;

            .imgTitle {
              font-weight: bold;
              font-size: 1.3rem;
            }
            .collection {
              margin-right: 6px;
            }

            .collectionRow {
              display: flex;
              align-items: flex-end;
            }
          }

          .playButton {
            margin-right: 6px;
          }
        }

        img {
          width: 100%;
          height: auto;
          max-height: 80vh; /* for img that too tall */
        }
      }
    }

    .right {
      flex: 1;
      max-width: 500px;

      // background-color: var(--chakra-colors-windowBg);
      // padding: 20px;
      // border-radius: 20px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;

    gap: 12px;
  }
}

.buyNowBtn {
  /* Auto layout */
  font-family: 'F37 Zagma Mono Trial';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;
  letter-spacing: -0.01em;
  padding: 13px 24px;

  position: static;
  width: 167px;

  background: #000000;
  border-radius: 24px;

  /* Inside auto layout */
}

.filterBtn {
  width: 138px;
  height: 48px;
  padding: 10px 20px;
  border-radius: 48px;
}

.activity {
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
  border-radius: 24px;
  flex-wrap: wrap;
  font-family: 'F37 Zagma Mono Trial';
}

.activityItem {
  margin: 8px 16px;
  p:first-child {
    color: #666666;
  }
  p:last-child {
    font-weight: 900;
    color: '#000';
  }
}

@media (max-width: 768px) {
  .main {
    justify-content: center;
    flex-direction: column;
  }
}
