.infoBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;

  .showMore {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--chakra-colors-brandBlue);
  }
}
