.main {
  width: 100%;
  display: flex;
  margin-top: 8px;
  font-family: 'F37 Bolton Trial';
  color: black;
}

.mainVertical {
  @extend .main;
  align-items: flex-start;
  flex-direction: column;
}

.link {
  font-family: 'F37 Bolton Trial';
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-underline-offset: 2px;
  text-decoration: underline;
}
