@import 'styles/_mixins.scss';

@include cardList();

$cardHeight: 400px;
$imgHeight: 260px;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  background: var(--chakra-colors-brandColor);
  border-radius: 24px;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #fcfcfd;
  transition: all 0.2s;
}

.featured {
  position: absolute;
  top: 20px;
  left: 20px;

  background-color: rgba(240, 240, 240, 0.6);
  color: white;
  padding: 4px 10px;
  font-size: 0.8rem;
  border-radius: 4px;
  text-transform: capitalize;
  font-weight: bold;
  z-index: 1;
}

.card {
  position: relative;
  height: $cardHeight;
  overflow: hidden;

  :global(body.chakra-ui-dark) & {
    background-color: var(--chakra-colors-cardBgDark, red);
  }

  .cardPreviewWrap {
    position: relative;

    .ownedTag {
      position: absolute;
      bottom: 8px;
      right: 10px;

      background-color: var(--chakra-colors-brandBlueAlpha, red);
      color: white;
      padding: 4px 10px;
      font-size: 0.8rem;
      border-radius: 8px;
      text-transform: uppercase;
      font-weight: bold;
      z-index: 1;
    }
  }

  .cardPreview {
    position: relative;
    border-radius: var(--border-radius-big);
    overflow: hidden;
    height: $imgHeight;
    cursor: pointer;

    img {
      min-width: 100%;
      min-height: $imgHeight;
      transition: transform 1s;
      object-fit: cover;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }

  .buttons {
    display: flex;
    gap: 10px;
    // padding: 10px 20px 20px 20px;
    padding: 0;
    width: 100%;
    flex: 0;
    align-items: center;
    height: 30px;

    .stadiumButtonGray {
      background-color: #bbb;
      color: black;
    }

    .threeDotIcon {
      cursor: pointer;
    }
  }

  .cardControls {
    //  width: 100%;
    // height: 100%;
    display: flex;

    .cardButton {
      // position: absolute;
      // left: 50%;
      // bottom: 16px;
      min-width: 140px;
      margin-bottom: 10px;
      margin: 0 10px 10px 10px;
      // transform: translateX(-50%);
    }
  }

  .cardLine {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;

    .collectionRow {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      a {
        white-space: nowrap;
      }
    }

    .cardTitle {
      font-size: 16px;
      font-weight: 400;
      display: flex;
      flex-direction: column;

      .title {
        // maybe redundant, since defined above
        // keeps long titles from flowing outside the card bounds
        white-space: nowrap;
        max-width: 20ch;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #555;
        margin-bottom: 10px;
      }
    }
  }

  .priceRow {
    display: flex;
    > div {
      flex: 1;
    }
    > button {
      margin-left: 7px;
      width: 45px;
      border-radius: var(--border-radius-big);
      border: 1px solid var(--chakra-colors-brandColor);
      text-align: center;
      padding-bottom: 8px;
      &:hover {
        background-color: var(--chakra-colors-buttonHoverBg);
        color: var(--chakra-colors-buttonHoverText);
      }
    }
  }
}

.featuredCard {
  background-image: linear-gradient(140deg, #ffffff 0%, #ffffff 50%, #d2fffb 75%);
}
