@import './Shared.module.scss';

.main {
  margin-bottom: 30vh;
}

.spinner {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  flex-direction: center;
}
