.list {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  list-style: none;

  li {
    padding: 7px 0;
  }
  li > span {
    display: inline-block;
    width: 170px;
    font-weight: bold;
    color: #777;
  }
  .bar {
    width: 20vw;
    padding-left: 10px;
    // background-color: blue;
    // color: #fff;
    border-radius: 12px;
  }
}

.leaderBox {
  width: 100%;
  // text-align: center;
  // display: flex;
  // flex-flow: column;
  // align-items: center;
  margin-bottom: 40px;

  .leaderBody {
    width: 60%;
    // border: 1px solid #ccc;
    border-radius: 24px;
    box-shadow: 0 9px 9px #eee;
    margin-top: 20px;
  }
}

.rewardBox {
  box-shadow: 0 9px 9px #eee;
  border-radius: 24px;
  padding: 15px;

  h3 {
    font-weight: bold;
    margin-bottom: 20px;
  }
}
