@import './Shared.module.scss';

.main {
  margin-bottom: 80px;
}

.comingSoon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  font-size: 3em;
  text-align: center;
  line-height: 1;
  color: #555;
  font-weight: bold;
}
