@import '/styles/SharedStyles.module.scss';

@mixin ajustableGrid($columns) {
  display: grid;

  grid-template-columns: repeat($columns, 1fr);
  grid-gap: 36px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-gap: 26px;

    grid-template-rows: repeat($columns, 1fr);
  }
}

.main {
  display: flex;
  // align-items: center;
  flex-direction: column;

  .card {
    @extend .boxShadow;
    background-color: white;

    .title {
      padding: 15px;
      font-weight: bold;
    }
  }

  .left {
    padding: 10px 20px;
  }

  .right {
    padding: 10px 20px;
    text-align: right;
  }

  .cardGrid3 {
    @include ajustableGrid(3);
  }

  .cardGrid2 {
    @include ajustableGrid(2);
  }

  .infoRow {
    display: grid;
    border-top: 1px solid #ddd;
    grid-template-columns: 2fr 1fr;
    width: 100%;
  }
}
