.titleAndLink {
  display: flex;
  flex-direction: column;
}

.tabList {
  justify-content: center !important;
}

.main {
  display: flex;
}

.filterPlaceholder {
  width: 300px;

  @media only screen and (min-width: 1000px) and (max-width: 1400px) {
    width: 0; // for small screen: no placeholder width. Otherwise, the cards will look squeezed.
  }
}
