// can't get this to load correctly so I have inline styles for the time being
.searchContainer {
  display: 'flex';
  justify-content: 'space-between';
  margin-right: 30;
  margin-bottom: 15;
  margin-top: 15;
  width: '100%';
}
