.titleAndLink {
  display: flex;
  flex-direction: column;
}

.tabList {
  justify-content: center !important;
}

.main {
  display: flex;
}

.col {
  width: 100%;
  display: inline-flex;
}

.col1 {
  width: 16%;
  margin-right: 90px;
}

.col2 {
  width: 80%;
}
