.main {
  display: flex;
  flex-direction: column;
  width: 450px;

  .title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .buttons {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin-top: 40px;
  }

  .subscribe {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .addressLink {
    display: flex;
    margin-bottom: 30px;

    border: 1px solid #eee;
    border-radius: 12px;
    align-items: center;

    .address {
      padding: 0 12px;
    }
  }
}
