@import 'styles/_mixins.scss';

.gameFrame {
  @include lightShadow();

  :global(body.chakra-ui-dark) & {
    @include darkShadow();
  }

  border-radius: 10px;
  overflow: hidden;
  width: 1150px;
  margin: 0 auto;
  margin-top: 20px;
}

.switchToPolygon {
  padding: 20vh 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .switchToPolyMessage {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}
