.label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #616161;
}

.total {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: -0.05em;

  color: #000000;
}

.change {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: -0.05em;
}
.green {
  color: var(--chakra-colors-brandGreen);
}

.red {
  color: var(--chakra-colors-brandRed);
}

.flip {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.unit {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: -0.02em;

  margin-left: 4px;
}

.triangle {
  width: 10px;
  margin-right: 2px;
  margin-top: 4px;
}
