.drawerHeader {
  margin: 30px 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(228, 228, 228);

  .title {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .subtitle {
    font-size: 1rem;
  }
}
