.header {
  height: 88px;
  margin-bottom: 2rem;

  .hdf {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: inset 0px -1px 0px #f3f3f4;
    background-color: rgba(#fff, 0.8);
    backdrop-filter: blur(12px);
    z-index: 2;
    padding: 10px 0;
  }

  .links {
    display: flex;
    font-weight: bold;
    align-items: center;
  }

  .linksButtons {
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 6px;

    letter-spacing: -0.025em;
  }

  .connectButton {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    color: #333;
    box-shadow: 0px 6px 6px rgba(64, 71, 255, 0.15);
    border: 1px solid #eee;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #eee;
    }

    & svg {
      display: inline-block;
      margin-right: 8px;
    }
  }
}

.exploreButton {
  padding: 10px;
  border-radius: 20px;
  color: #333;
  cursor: pointer;
  transition: 0.1s all ease-in;
  margin-right: 6px;

  &:hover {
    background-color: #4047ff;
    color: #fff;
  }

  &.active {
    background-color: #4047ff;
    color: #fff !important;
  }
}

.showLargeNav {
  display: flex;
}

.showConnectButton {
  display: flex;
}

.showMediumNav {
  display: none;
}

.showMobileMenu {
  display: none;
}

.showExplore {
  display: flex;
}

.showSmallLogo {
  display: none;
}

.showLargeLogo {
  display: flex;
}

@media (min-width: 650px) and (max-width: 1000px) {
  .showLargeNav {
    display: none;
  }
  .showConnectButton {
    display: flex;
  }
  .showMediumNav {
    display: flex;
  }
  .showMobileMenu {
    display: none;
  }
  .showExplore {
    display: flex;
  }

  .showSmallLogo {
    display: none;
  }

  .showLargeLogo {
    display: flex;
  }
}

@media (max-width: 650px) {
  .showLargeNav {
    display: none;
  }
  .showConnectButton {
    display: none;
  }
  .showMediumNav {
    display: none;
  }
  .showMobileMenu {
    display: flex;
  }
  .showExplore {
    display: none;
  }

  .showSmallLogo {
    display: flex;
  }

  .showLargeLogo {
    display: none;
  }
}
