.main {
  display: flex;
  list-style: none;

  li {
    padding: 10px;
    // border: 1px solid #aaa;
    border-radius: 20px;
    color: #333;
    cursor: pointer;
    transition: 0.1s all ease-in;
  }
  li:hover {
    background-color: var(--chakra-colors-brandBlue, red);
    color: #fff;
  }
  .active {
    background-color: var(--chakra-colors-brandBlue, red);
    color: #fff !important;
  }
}
