.wrapper {
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  display: flex;
  flex: 1;

  .flatpicker {
    display: flex;
    border: none;
    font-weight: bold;
    padding: 0 10px;
    text-align: right;
    &::placeholder {
      color: #ccc;
    }
  }

  .calendarButton {
    // trying to match the size of the input which is 32
    // height: 32px;
    // width: 32px;
    border-left: var(--input-border);

    .iconButton {
      // trying to match the size of the input which is 32
      height: 32px;
      color: #333;
    }
  }
}
