.title {
  font-size: 26px;
  font-weight: bold;
}

.txnRow {
  display: flex;

  &:first-child {
    margin-top: 20px;
  }

  span:nth-child(1) {
    width: 30%;
    color: var(--text-secondary);
  }
  span:nth-child(2) {
    width: 30%;
  }
  span:nth-child(3) {
    width: 20%;
    text-transform: capitalize;
  }
  span:nth-child(4) {
    width: 20%;
    text-transform: capitalize;
  }
}

.extLink {
  cursor: pointer;
  margin-left: 5px;
  vertical-align: 2px;
}

.space {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.tableGrid {
  display: grid;
  grid-template-columns: repeat(12, calc(100% / 12 - 0.7rem));
  gap: 0.7rem;
  width: 100%;
}

.modal {
  width: 50vw;
}

@media (min-width: 850px) and (max-width: 1600px) {
  .modal {
    width: 70vw !important;
  }
}

@media (max-width: 850px) {
  .modal {
    width: 85vw !important;
  }
}
