.title {
  font-size: 26px;
  font-weight: bold;
}

.txnRow {
  display: flex;

  &:first-child {
    margin-top: 20px;
  }

  span:nth-child(1) {
    width: 30%;
    color: var(--text-secondary);
  }
  span:nth-child(2) {
    width: 30%;
  }
  span:nth-child(3) {
    width: 20%;
    text-transform: capitalize;
  }
  span:nth-child(4) {
    width: 20%;
    text-transform: capitalize;
  }
}

.extLink {
  cursor: pointer;
  margin-left: 5px;
  vertical-align: 2px;
}

.space {
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;

  a {
    margin-right: 20px;
  }
}

.modal {
  width: 50vw;
}

@media (max-width: 768px) {
  .modal {
    width: 92vw !important;
  }
}
