.title {
  font-size: 26px;
  font-weight: bold;
}

.txnRow {
  display: flex;

  &:first-child {
    margin-top: 20px;
  }

  span:nth-child(1) {
    width: 30%;
    color: #aaa;
  }
  span:nth-child(2) {
    width: 70%;
  }
}

.space {
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;

  a {
    margin-right: 20px;
  }
}
