.main {
  display: flex;
  flex-direction: column;

  .nftContent {
    display: flex;
    margin: 20px 0;

    .imgBox {
      flex: 65;
      img {
        width: 100%;
        height: auto;
        border-radius: 16px;
      }
    }

    .infoBox {
      flex: 35;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 20px;

      .price {
        display: inline-block;
        border: 2px solid rgb(69, 178, 107);
        border-radius: 4px;
        color: rgb(69, 178, 107);
        padding: 5px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .description {
        color: #777e90;
      }

      .title {
        font-size: 1.2rem;
      }

      .collectionRow {
        display: flex;
        align-items: center;
      }

      .collection {
        font-weight: bold;
        font-size: 1.3rem;
        margin-right: 6px;
      }

      .label {
        margin-top: 10px;
        font-weight: bold;
      }
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;

    gap: 12px;
  }
}

@media (max-width: 768px) {
  .main {
    justify-content: center;
    flex-direction: column;
  }
}
