.thumb {
  height: 42px;
  border-radius: 8px;
}

.underline {
  text-decoration: underline !important;
}

.arrowPadding {
  margin-left: 10px;
  margin-right: 10px;
}

.tokenName {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
