.main {
  width: 100%;
}

.main header {
  /* color: orange; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 35px;
}

.item {
  margin-top: 10px;
  margin-left: 20px;
}
