.main {
  margin-bottom: 30vh;

  .buttons {
    display: flex;
    gap: 20px;
  }
}

.cardList {
  display: flex;

  gap: 20px;
  flex-wrap: wrap;

  margin: 20px 0 40px 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #fafafa;
  border: 1px solid #333;
  padding: 10px 20px;
  font-size: 0.8rem;

  .title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
