.main {
  margin-bottom: 30vh;

  .buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
  }

  .nothingFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;

    .text {
      padding: 10px 20px;
      border: solid 1px #ddd;
    }
  }

  .header {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
