.title {
  font-size: 26px;
  font-weight: bold;
}

.priceRow {
  margin-top: 16px;
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
  display: flex;
  width: 100%;
  display: flex;
  gap: 10px;
}

.col {
  margin-top: 20px;
  & input {
    font-size: 1rem;
    text-align: right;

    font-weight: bold;
  }

  // need to change the theme, but this is for the Weth input
  .offerBorder {
    border: var(--input-border);
  }

  .colTitle {
    margin-bottom: 4px;
  }
}

.buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}
