.infoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .description {
    color: #777e90;
  }

  .label {
    font-weight: bold;
  }

  .addressRow {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;

  gap: 12px;
}
