.hoverButton {
  padding: 8px 14px;
  border-radius: 100px;
  color: #333;
  cursor: pointer;
  font-weight: bold;

  &.dark {
    color: #eee;
  }

  &.menuOpen {
    background-color: #4047ff;
    color: #fff;
  }

  &.disabled {
    color: #bbb;
    cursor: auto;
  }
}

.buttonShadow {
  box-shadow: 0px 4px 6px rgba(64, 71, 255, 0.15);
  border: 1px solid #eee;

  &.dark {
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.15);
    border: 1px solid #000;
  }
}

.buttonContent {
  display: flex;
  white-space: nowrap;

  // switch svgs to white
  img {
    .menuOpen & {
      filter: invert(1);
    }
  }
  .arrow {
    padding-left: 6px;
    color: #aaa;

    .menuOpen & {
      color: #fff;
    }
  }
}
