.hoverButton {
  padding: 8px 12px;
  border-radius: 20px;
  color: #333;
  cursor: pointer;
  font-weight: bold;

  &.menuOpen {
    background-color: #4047ff;
    color: #fff;
  }
}

.buttonShadow {
  box-shadow: 0px 4px 6px rgba(64, 71, 255, 0.15);
  border: 1px solid #eee;
}

.buttonContent {
  display: flex;
  white-space: nowrap;

  // switch svgs to white
  img {
    .menuOpen & {
      filter: invert(1);
    }
  }
  .arrow {
    padding-left: 6px;
    color: #aaa;

    .menuOpen & {
      color: #fff;
    }
  }
}
