.footer {
  width: 100%;
  max-width: 80rem;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 72rem;
  margin-bottom: 60px;

  .paragraph {
    line-height: 1.5;
    margin-top: 10px;
    font-weight: normal;
    letter-spacing: -0.01em;
    width: 24rem;
    font-size: 16px;
    max-width: 100%;

    :global(body.chakra-ui-dark) & {
      color: white;
    }
  }

  .tg-desc {
    font-size: clamp(1rem, 1.2vw + 1rem, 1.25rem);
    line-height: 1.618;
    margin-top: 1rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    word-spacing: -0.02em;
  }

  .second {
    margin-top: 4rem;
    color: #071013;
  }

  .socials a {
    display: inline-block;
    margin: 0 8px;
  }

  @media (max-width: 500px) {
    width: 100%;
  }

  .links {
    list-style-type: none;
  }

  .links li a {
    display: block;
    padding: 0.25em 0;
    color: rgba(#071013, 0.5);
    transition: 0.2s ease-in-out;
  }

  .links li a:hover {
    color: rgba(#071013, 0.9);
  }
}
