.priceBox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  // keeps long prices from flowing outside the card bounds
  overflow: hidden;

  &.onRight {
    align-items: flex-end;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    padding: 2px 4px 0 8px;
    font-weight: 700;
    flex-shrink: 0;
    min-width: 40px;
    cursor: default;
    font-size: 1.1rem;

    :global(body.chakra-ui-dark) & {
      color: #ddd;
      border: 2px solid #aaa;
    }

    svg {
      margin-left: 4px;
      margin-bottom: 1px;
    }
  }

  .expTime {
    margin-top: 4px;
    color: #aaa;
    text-align: center;
  }
}
