.title {
  font-size: 26px;
  font-weight: bold;
}

.priceRow {
  margin-top: 16px;
  margin-bottom: 20px;
  display: inline-block;
}

.row {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .left {
    display: flex;
    flex: 1;

    color: var(--text-secondary);
  }

  .middle {
    display: flex;
    max-width: 240px;
    flex: 2;
    text-align: right;
    justify-content: flex-end;
    & input {
      font-size: 1rem;
      text-align: right;
    }
  }
  .right {
    text-align: right;
    width: 55px;
  }
}

.space {
  margin-bottom: 10px;
}

.lineSpace {
  margin: 20px 0;
}

.buttons {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
}
