.title {
  font-size: 26px;
  font-weight: bold;
}

.row {
  margin-bottom: 20px;
  display: flex;

  .left {
    display: flex;
    align-items: center;

    color: #888;
  }

  .right {
    display: flex;
    flex: 1;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    & > div > input {
      text-align: right;
      padding: 0 10px;
      margin: 0 10px;
      font-weight: bold;
      border: var(--input-border);
      width: 230px !important;
    }
  }
}

.token {
  width: 45px;
}

.datePicker {
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  min-height: 32px !important;
}

.space {
  margin-bottom: 10px;
}

.footer {
  margin-bottom: 20px;

  a {
    margin-right: 20px;
  }
}
