.title {
  font-size: 26px;
  font-weight: bold;
}

.priceRow {
  margin-top: 16px;
  margin-bottom: 20px;
}

.row {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .left {
    display: flex;
    flex: 1;

    color: var(--text-secondary);
    font-weight: 500;
  }

  .middle {
    display: flex;
    max-width: 240px;
    flex: 2;
    text-align: right;
    justify-content: flex-end;
    & input {
      font-size: 1rem;
      text-align: right;

      font-weight: bold;
    }

    // need to change the theme, but this is for the Weth input
    .offerBorder {
      border: var(--input-border);
    }
  }
  .right {
    text-align: right;
    width: 55px;
  }
}

.flatpicker {
  display: flex;
  min-height: 32px;
  &::placeholder {
    color: #ccc;
  }
}

.space {
  margin-bottom: 10px;
}

.footer {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  a {
    margin-right: 20px;
  }
}
