@mixin darkShadow() {
  box-shadow: 0px 0px 32px rgba(181, 211, 253, 0.5), 0px 12px 14px rgba(48, 133, 253, 0.52);

  // box-shadow: 0 4px 40px #f333, 0 4px 30px -4px var(--chakra-colors-brandBlue, red);
}

@mixin inputBorder() {
  border: 1px solid #aaa;
  border-radius: 6px;
}
