.boxShadow {
  border: 1px solid #ddd;
  box-shadow: 0 10px 14px -8px #ddd;
  overflow: hidden;
  border-radius: 14px;
}

.sectionTitle {
  font-weight: bold;
  font-size: 20px;
  margin: 40px 0 20px 0;
}
