.boxShadow {
  overflow: hidden;
  border-radius: 14px;

  border: 1px solid #eee;
  box-shadow: 0 12px 14px -8px #ffd6d6, 0 2px 8px #a0a4ff;

  :global(body.chakra-ui-dark) & {
    border: 1px solid #222;
    box-shadow: 0 12px 14px -8px rgba(255, 55, 55, 0.3), 0 2px 8px #a0a4ff;
  }
}

.sectionTitle {
  font-weight: bold;
  font-size: 20px;
  margin: 40px 0 20px 0;
  display: flex;
  align-items: center;

  .icon {
    color: var(--brand-primary);
    margin-right: 12px;
  }
}
