:root {
  --toastify-icon-color-info: #eee !important;
}

.Toastify__toast-container {
  width: 25% !important;
  min-width: 470px;
}

.Toastify__toast-body {
  font-family: var(--font-family);
}

.Toastify__toast--info {
  word-break: break-all !important;
  background-color: var(--brand-primary) !important;
  color: #eee !important;
  font-family: var(--font-family) !important;
}

.Toastify__toast--error {
  word-break: break-all !important;
  font-family: var(--font-family) !important;
}

.Toastify__close-button {
  color: #eee !important;
  opacity: 0.5;
}

.Toastify__progress-bar {
  height: 3px !important;
}

@media only screen and (max-width: 700px) {
  .Toastify__toast-container {
    width: 75% !important;
  }
}
