:root {
  --toastify-icon-color-info: #eee !important;

  --toastify-font-family: 'Futura', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.Toastify__toast-container {
  width: 25% !important;
  min-width: 470px;
}

.Toastify__toast--info {
  word-break: break-all !important;
  background-color: var(--chakra-colors-brandBlue, red) !important;
  color: #eee !important;
}

.Toastify__toast--error {
  word-break: break-all !important;
}

.Toastify__close-button {
  color: #eee !important;
  opacity: 0.5;
}

.Toastify__progress-bar {
  height: 3px !important;
}

@media only screen and (max-width: 700px) {
  .Toastify__toast-container {
    width: 75% !important;
  }
}
