:root {
  --font-family: 'Greycliff', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;

  --brand-primary: #4047ff;

  --text-primary: #333;
  --text-secondary: #777;

  --input-border: 1px solid #aaa;
  --input-border-radius: 5px;
}
