.wrapper {
  display: flex;
  background-color: #e5e5e5;
  border-radius: 100px;
  margin: 8px;
  padding: 4px;
  gap: 2px;

  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 19px;
  cursor: pointer;
}

.option {
  padding: 8px 26px 11px 26px;
  white-space: nowrap;
  background-color: #e5e5e5;
  border-radius: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  &.sm {
    font-size: 1rem;
  }
}

.selected {
  background-color: #000000;
  color: #ffffff;
}
